table {
    padding-left: 10%!important;
    padding-right: 10%!important;
  }

  .flex-container {
    display: flex;
  }
  .center-center {
    justify-content: center;
    align-items: center;
  } 